TRAVELNET_TAILSCALE_HOST=pi-server.tail186ff8.ts.net
TRAVELNET_API_URL=https://pi-server.tail186ff8.ts.net
TRAVELNET_API_TOKEN=your_upload_token_here
TRAVELNET_SSH_USER=dan

SHELLY_IP=192.168.0.XX

CERT_PATH=dummy_value

PC_MAC=XX:XX:XX:XX:XX:XX
PC_TAILSCALE_HOST=dan-pc.tail186ff8.ts.net
PC_SSH_USER=dan

PUSHCUT_WEBHOOK_URL=https://api.pushcut.io/your_webhook_here
