TRAVELNET_TAILSCALE_HOST=tail.ts.net
TRAVELNET_API_URL=https://api.api/
TRAVELNET_API_URL_TAILSCALE=http://ts.net
PREFECT_API_URL=http://prefect/api
PREFECT_WORKER_CONTAINER=container
TRAVELNET_API_TOKEN=dummy
TRAVELNET_HEARTBEAT_URL=https://api/watchdog-heartbeat
WATCHDOG_TOKEN=dummy
TRAVELNET_SSH_USER=user

CERT_PATH=/path/to/crt.crt

SHELLY_IP=192.168.0.XX

PC_MAC=FF:FF:FF:FF:FF:FF
PC_TAILSCALE_HOST=pc.ts.net
PC_SSH_USER=user

PUSHCUT_WEBHOOK_URL=https://api.pushcut.io
